<div class="mainview nomargin">
  <div class="row nomargin">
    <div class="toolbar-fixed red row nopad nomarginbot col s10">
      <ul class="col s12 nomarginbot nomargintop">
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('date')">Date
            <i *ngIf="sortBy=='date' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='date' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('distance')">Distance
            <i *ngIf="sortBy=='distance' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='distance' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('duration')">Duration
            <i *ngIf="sortBy=='duration' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='duration' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('pace')">Pace
            <i *ngIf="sortBy=='pace' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='pace' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('VO2Max')">VO2Max
            <i *ngIf="sortBy=='VO2Max' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='VO2Max' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
            <div class="btn" (click)="export()">Export
              </div>
        </li>
      </ul>
      <div class="col s2">
        
      </div>
    </div>
    <div class="col s10 nopad scrollview">
      <ul *ngIf="logs" class="collection runlog nopad nomargin col s12">
        <li (click)="changeLog(log)" class="collection-item" [ngClass]="{'active':activelog._id == log._id}" *ngFor="let log of logs | customOrderBy: sortBy:asc">
          <div class="row nomargin">
            <div class="col s2">
              Date {{log.date | date:'yMd'}}
            </div>
            <div class="col s2">
              Distance {{log.distance | number:'1.2-2'}}
            </div>
            <div class="col s2">
              HH: {{log.duration/3600 | floor}} MM: {{log.duration % 3600 / 60 | floor}} SS: {{log.duration % 60 | floor}}
            </div>
            <div class="col s2">
              Pace {{runCalc.Pace(log) | number:'1.2-2'}}
            </div>
            <div class="col s2">
              VO2MAX: {{runCalc.VO2Max(log) | number:'1.2-2'}}
            </div>
            <div class="col s2">
              <div class="btn btn-flat" (click)="deleteLog(log._id)">
                Delete
              </div>
            </div>
          </div>
          <app-tags [log]="log" [removable]="false"></app-tags>
        </li>
      </ul>
    </div>
  </div>
</div>