<div class="mainview nomargin">
  <h1 class="nomargin">Run Log</h1>
  <div class="row nomargin">
    <form class="col s10">
      <div class="row nomargin">
        <div class="input-field col s6">
          <input id="distance" required [(ngModel)]="log.distance" name="distance" type="text" class="validate">
          <label for="distance">Distance</label>
        </div>
        <div class="input-field col s6">
          <div class="row">
            <div class="col s9">
              <input id="newTag" required [(ngModel)]="newTag.name" name="newTag" type="text" class="validate">
              <label for="newTag">New Tag</label>
            </div>
            <div class="btn global-button col s3" (click)="createTag()">
              <span>Create Tag</span>
            </div>
          </div>
          <div class="row">
            <div class="col s9">
              <select id="tags" class="angSelect" name="selectTag" [(ngModel)]="selectedTag" (change)="selectTag($event)">
                <option disabled selected>Please select...</option>
                <option *ngFor="let tag of tags">{{ tag.name }}</option>
              </select>
            </div>
            <div class="btn global-button col s3" (click)="assignTag()">
              <span>Assign Tag</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row nomargin">
        <div class="input-field col s2">
          <input id="duration" required [(ngModel)]="hours" name="hours" (ngModelChange)="updateDuration($event)" type="text" class="validate">
          <label for="hours">Hours</label>
        </div>
        <div class="input-field col s2">
          <input id="duration" required [(ngModel)]="minutes" name="minutes" (ngModelChange)="updateDuration($event)" type="text" class="validate">
          <label for="minutes">Minutes</label>
        </div>
        <div class="input-field col s2">
          <input id="duration" required [(ngModel)]="seconds" name="seconds" (ngModelChange)="updateDuration($event)" type="text" class="validate">
          <label for="seconds">Seconds</label>
        </div>
      </div>
      <div class="row nomargin">
        <div class="input-field col s6">
          <input id="date" required type="text" [(ngModel)]="log.date" name="date" materialize="pickadate">
          <label for="date">Date</label>
        </div>
        <div class="btn global-button col s3 right" (click)="add(log)">
          <span *ngIf="!log._id">Add Run</span>
          <span *ngIf="log._id">Update Run</span>
        </div>
      </div>
      <app-tags [log]="log"></app-tags>
    </form>
  </div>
</div>