<div class="mainview nomargin">
  <div class="row nomargin">
    <div class="toolbar-fixed red row nopad nomarginbot ">
      <ul class="col s8 nomarginbot nomargintop">
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('date')">Date
            <i *ngIf="sortBy=='date' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='date' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('distance')">Distance
            <i *ngIf="sortBy=='distance' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='distance' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('duration')">Duration
            <i *ngIf="sortBy=='duration' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='duration' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('pace')">Pace
            <i *ngIf="sortBy=='pace' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='pace' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
        <li class="col s2 toolbar-item">
          <div (click)="changeSortBy('VO2Max')">VO2Max
            <i *ngIf="sortBy=='VO2Max' && asc" class="keyboard_arrow_down material-icons">keyboard_arrow_down</i>
            <i *ngIf="sortBy=='VO2Max' && !asc" class="keyboard_arrow_up material-icons">keyboard_arrow_up</i>
          </div>
        </li>
      </ul>
      <div class="col s2"></div>
    </div>
    <div class="col s10 nopad scrollview">
      <ul class="collection runlog nopad nomargin col s12">
        <li class="collection-item" [ngClass]="{'active':activeGoal._id == goal._id}" *ngFor="let goal of goals | customOrderBy: sortBy:asc">
          <div class="row nomargin">
            <div class="col s2">
              Date {{goal.date | date:'yMd'}}
            </div>
            <div class="col s2">
              Distance {{goal.distance | number:'1.2-2'}}
            </div>
            <div class="col s2">
              HH: {{goal.duration/3600 | floor}} MM: {{goal.duration % 3600 / 60 | floor}} SS: {{goal.duration % 60 | floor}}
            </div>
            <div class="col s2">
              Pace: {{runCalc.Pace(goal) | number:'1.2-2'}}
            </div>
            <div class="col s2">
              VO2Max: {{runCalc.VO2Max(goal)| number:'1.2-2'}}
            </div>
            <div class="col s2">
              <div class="btn btn-flat" (click)="changeGoal(goal)">
                Edit
              </div>
            </div>
            <div class="col s2">
              <div class="btn btn-flat" (click)="deleteGoal(goal._id)">
                Delete
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>