<div class="row nomarginbot">
    <div #container class="col s7"></div>
    <div #container class="col s3 z-depth-2 filterpane nopad">
        <ul class="collection runlog nopad nomargin col s12">
            <li class="collection-item" *ngFor="let legend of legendData; let i = index">
                <div class="row nomargin">
                    <div class="btn-floating btn-small left" [ngClass]="{'inactive':!legend.active}" (click)="toggleActive(legend)" [ngStyle]="{'background-color': rgb(colors[i])}"></div>
                    <div class="col s10 right">{{legend.date}} {{legend.distance}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>