.line {
    fill: none !important;
    stroke-width: 1.5px !important;
  } 
.filterpane{
  height:100vh;
  background-color: aliceblue;
}
.circle{
  fill: none;
  stroke-width: 2px;
}
.inactive{
  opacity: .1;
}
.line.hover path {
  stroke-width: 6px;
}
.circle.hover{
  stroke-width:20px;
  stroke-opacity: .5;
}
.tooltip{
  opacity:0;
}
.tooltip {
  position: absolute;
  background-color: rgba(255,255,255,1);
  padding: 10px;
  border: 1px solid #ddd;

  font-family: Arial;
  font-size: 13px;

  transition: opacity 500ms linear;
  -moz-transition: opacity 500ms linear;
  -webkit-transition: opacity 500ms linear;

  transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;

  -moz-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 4px 4px 12px rgba(0,0,0,.5);
  box-shadow: 4px 4px 12px rgba(0,0,0,.5);

  -moz-border-radius: 15px;
  border-radius: 15px;
}

.tooltip h3 {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tooltip span {
  display: inline-block;
  margin: 2px 0;
}