<li class="collection-item avatar ">
  <div class="row">
    <div class="col s2">
      Date
    </div>
    <div class="col s2">
      Distance
    </div>
    <div class="col s2">
      Time
    </div>
    <div class="col s2">
      Pace
    </div>
    <div class="col s2">
      Edit
    </div>
    <div class="col s2">
      Delete
    </div>
  </div>
  <div class="row">
    <div class="col 12">
      <ul class="collection">
        <li class="collection-item avatar run-log-item-tags">Tags</li>
      </ul>
    </div>
  </div>
</li>