<div class="row nomargin">
  <div class="navbar col s2">
  <ul class="collection navbarcollection">
    <li class="navbaritem"><div><a class="btn btn-flat" routerLink="/RunLog">Run Log</a></div></li>
    <li class="navbaritem"><div><a class="btn btn-flat" routerLink="/RunCompare">Compare Runs</a></div></li>
    <li class="navbaritem"><div><a class="btn btn-flat" routerLink="/Goals">Goals</a></div></li>
    <li class="navbaritem"><div><a class="btn btn-flat" routerLink="/Progress">View Progress</a></div></li>
  </ul>
</div>
<router-outlet class="col s10"></router-outlet>
</div>
